body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Praho', sans-serif;
    color: #5584ac;
    font-size: 12ex;
}

h2 {
    font-family: 'Zen Maru Gothic', serif;
    color: #3c3c3c;
    font-weight: 400;
}

h3 {
    font-family: 'Zen Maru Gothic', serif;
    color: #57606f;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #5584ac;
    color: #fff;
    text-decoration: none;
    border-radius: 100vh;
}

a:hover {
    background-color: #E98FB5;
}