.contents{
    font-family: 'Nunito', sans-serif;
    background-color: #a2d9ff;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    vertical-align: bottom;
}

h1 {
    font-family: 'Zen Maru Gothic', serif;
    color: #333;
    font-size: 36px;
    margin-top: 20px;
}

p {
    font-family: 'Zen Maru Gothic', serif;
    color: #555;
    font-size: 18px;
    margin: 10px 0;
}

#totalScore {
    color: #4CAF50;
    font-size: 24px;
    margin-top: 10px;
}

#userRank {
    font-family: 'Zen Maru Gothic', serif;
    margin-top: 10px;
}

#rankingData {
    margin-top: 20px;
}

.rankItem {
    font-family: 'Zen Maru Gothic', serif;
    color: #333;
    font-size: 16px;
    margin: 5px 0;
}

a {
    display: inline-block;
    background-color: #5584ac;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100vh;
    margin-top: 20px;
}

a:hover {
    background-color: #E98FB5;
}