body {
    font-family: 'Zen Maru Gothic', serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

 メインのコンテナ 
div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

 タイトルのデザイン 
h1 {
    font-family: 'Zen Maru Gothic', serif;
    color: #3c3c3c;
    font-size: 24px;
    margin-bottom: 20px;
}

 問題文のスタイル 
p {
    font-family: 'Zen Maru Gothic', serif;
    color: #333;
    font-size: 60px;
    margin: 10px 0;
}

 回答入力欄のスタイル 
.answer_input {
    margin: 5px 0;
    border-radius: 5px;
    width: 80%;
}

 アクサン・特殊文字のスタイル 
.special-characters {
    margin-top: 10px;
    color: #888;
    font-size: 14px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #5584ac;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

#passBtn:hover {
    background-color: #3399cc;
}

button[type="submit"]:hover {
    background-color: #E98FB5;
}