body {
    font-family: 'Nunito', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-top: 20px;
}

h2 {
    color: #5584ac;
    font-size: 24px;
    margin-top: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

td, th {
    font-family: 'Zen Maru Gothic', serif;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

a {
    display: inline-block;
    background-color: #5584ac;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

a:hover {
    background-color: #E98FB5;
}

div {
    margin-top: 20px;
}